body.locked #lockscreen{position:fixed;top:0;left:0;width:100%;height:100%;z-index:5}body.unlocked #lockscreen{visibility:hidden}
body.locked #header{display:none}
body.locked .statusbar{width:100%;background:rgba(0,0,0,0.5);position:fixed}
body.locked .statusbar .working-apps{display:none}
body.locked .statusbar #clock{position:absolute;top:40px;left:0;width:100%;font-size:150px;pointer-events:none}