body{background-size:cover !important;margin:0;cursor:url(../img/Cursors/pointer.png),auto;font-family:Segoe UI;-moz-user-select:none;-webkit-user-select:none}body img{-webkit-user-drag:none}a{text-decoration:none;cursor:url(../img/Cursors/link.png),auto}button{cursor:inherit}

#controlcenter {
    width: 400px;
    height: 100%;
    border-left: 1px dotted;
    background: rgb(69, 69, 69);
    border-color: #000;
    padding: 10px 0 0 0;
    z-index: 2;
    position: fixed !important;
    top: 22px;
    right: 0;
    display: none;
}

#search {
    background-color: #808080;
    position: fixed;
    top: 23px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 63px);
    z-index: 1049;
    display: none;
}

.notifycenterbtn {
    width: 100px;
    height: 100px;
    border: 1px dotted #fff;
    margin-left: 10px;
    float: left;
}
.notifycenterbtn:hover {
    background: rgba(255, 255, 255, 0.5);
}
.notifycenterbtn:active {
    background: #fff;
    color: rgb(69, 69, 69);
}
.notifycenterbtn.active {
    background: green;
    color: #fff;
}
.notifycenterbtn.active:hover {
    background: rgba(0, 128, 0, 0.5);
}
.notifycenterbtn.active:active {
    background: #fff;
    color: green;
}

@media(max-width:2in){.boot-text{font-size:32pt}.boot-status{top:-36px;left:98px;font-size:14pt}.minipic img{width:30px;height:30px}}

@media(max-width:5in){#alphabeticalsele{top:155px;height:calc(100% - 204px)}.dialog .dialog-close-button{height:2.5rem !important;width:2.5rem !important;min-height:1.5rem !important;font-size:2rem !important;top:1.25rem !important;right:1.25rem !important;line-height:1}.scroller{height:calc(100% - 205px);top:165px}#search{top:72px;width:100%;height:calc(100% - 112px)}#navmenu > tab > ul > a > li > div{height:50px}}

/*!
 * Metro UI CSS v3.0.14 (http://metroui.org.ua)
 * Copyright 2012-2016 Sergey Pimenov
 * Licensed under MIT (http://metroui.org.ua/license.html)
 */.dialog-overlay{
background-color:transparent;
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
min-height:100%;
min-width:100%;
z-index:1049
}
.dialog{position:fixed;display:block;width:auto;height:auto;float:left;text-align:center;color:#fff;z-index:1050;border-top:8px dotted #fff;border-bottom:8px dotted #fff;padding:1.25rem}
.dialog .dialog-close-button{
position:absolute;height:1.5rem;width:1.5rem;min-height:1.5rem;text-align:center;vertical-align:middle;font-size:1rem;font-weight:normal;z-index:3;outline:none;border:1px dotted #fff;top:.25rem;right:.25rem;box-sizing:border-box}

.dialog .dialog-close-button:hover{
background-color:rgba(255,255,255,0.5)}.dialog .dialog-close-button:hover:after{
border-color:#2a8dd4
}
.dialog .dialog-close-button:active{background-color:#fff;color:#000
}
.dialog .dialog-close-button:after{
border-color:#777777;
content:'\D7';
line-height:1}
.dialog .success{
background-color:#60a917;
color:#ffffff
}
.dialog .success.dialog-close-button{
background-color:#7ad61d;
color:#ffffff
}
.dialog .success .dialog-close-button:active{
background-color:#128023
}
.dialog .warning{
background-color:#fa6800;
color:#ffffff}.dialog .warning .dialog-close-button{
background-color:#ffc194;
color:#ffffff}.dialog .warning .dialog-close-button:active{
background-color:#bf5a15}
.dialog .alert{
background-color:#ce352c;
color:#ffffff
}
.dialog .alert .dialog-close-button{
background-color:#da5a53;
color:#ffffff}
.dialog .alert .dialog-close-button:active{background-color:#9a1616
}
.dialog .info{
background-color:#1ba1e2;
color:#ffffff
}
.dialog .info .dialog-close-button{
background-color:#59cde2;
color:#ffffff
}
.dialog .info .dialog-close-button:active{
background-color:#1b6eae
}.op-dark{background-color:rgba(29,29,29,0.7)}

.unavail{cursor:url(../img/Cursors/unavail.png),auto}