.bootball{width:200px;height:200px;background-size:181px;background-position:0px;border:10px solid #fff;left:-35px;bottom:-55px;}
header{height:30px}
#wallpaper{left:-270px}
.minipic{width:30px;height:29px}
.alertsbtn{width:30px;height:29px}
.navlocal{top:5px;margin-left:35px;font-size:8pt}
.togglenav{background-size:20px;width:20px;height:20px;top:5px;left:10px}
#navmenu{top:30px}
.alertstray{margin-top:50px}
.screensicon:hover{box-shadow:none}
.screensicon:active{background-size:45px;width:45px;height:45px}