body{background-size:cover !important;margin:0;font-family:Roboto;-moz-user-select:none;-webkit-user-select:none;position:absolute;width:100%;height:100%}body img{-webkit-user-drag:none}a{text-decoration:none}a:visited{color:#A500A5}

.powerbar{height:22px;-webkit-padding-start:0;-webkit-margin-after:0;-webkit-margin-before:0}.topbar-current{width:138px;height:22px;float:left}.topbar-current:hover{background:rgba(51, 51, 51, 0.5)}.topbar-current:active{-webkit-filter:opacity(0.5)}.navlocal{position:absolute;top:-3px;margin-left:34px;font-size:14pt;color:#fff}.icon{width:16px;height:16px;position:absolute;top:3px;left:10px}.togglemenu{display:inline-block;width:calc(100% + -121px);height:60px;float:left}

.navmenu {
    border-bottom: 1px solid;
    background: rgba(128, 128, 128, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    border-color: #fff;
    color: #fff;
    z-index: 2;
    position: fixed !important;
    top: 22px;
    display: none;
}
.navmenu.left {
    border-bottom-right-radius: 10px;
	border-right: 1px solid;
	left: 0;
}
.navmenu.right {
    border-bottom-left-radius: 10px;
	border-left: 1px solid;
	right: 0;
}
ul.tabs{padding:0;width:100%;border-bottom:1px solid #fff;float:left;font-size:0;overflow-x:auto;white-space:nowrap}
ul.tabs li{font-size:14px;list-style-type:none;margin:0 -2px 0 0;padding:0;display:inline-block;position:relative;top:0;left:0;zoom:1}
ul.tabs li a{
    float: left;
    margin-left: 10px;
    border-radius: 5px 5px 0 0;
    padding: 3px 10px 8px 10px;
    height: 14px;
    bottom: -18px;
    border: 1px solid #fff;
    border-bottom: none;
    color: rgba(63, 81, 181, 0.88);
    background: rgba(255, 255, 255, 0.88);
    transition: all 0.2s linear;
}
ul.tabs li a:hover{background: rgba(255, 255, 255, 0.5); padding: 7px 10px 2px 10px; height: 20px; bottom: -14px}
ul.tabs li.current a{
    background: #3F51B5;
    color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.9);
    border-left: 1px solid rgba(0, 0, 0, 0.9);
    border-right: 1px solid rgba(0, 0, 0, 0.9);
    padding: 8px 10px 6px 10px;
    height: initial;
    bottom: -10px;
}

.navmenu > tab > ul{width:100%;height:100%;overflow:auto;padding:0}
.navmenu > tab > ul > a{text-decoration:none}
.navmenu > tab > ul > a > li{border-bottom: 1px solid rgba(255, 255, 255, 0.5);position:relative;-webkit-user-drag:element;width:100%;display:flex}
.navmenu > tab > ul > a > li:hover{background: rgba(255, 255, 255, 0.4); color: #000;}
.navmenu > tab > ul > a > li > div{min-width:64px;height:40px;text-align:center;display:flex}
.navmenu > tab > ul > a > li > div > .material-icons{margin:auto;font-size:24px}
.navmenu > tab > ul > a > li > p{font-weight:bold;-webkit-font-smoothing:antialiased;width:100%;margin:0;padding:0;height:auto;float:none;align-items:center;display:flex}

launcher{position:fixed;top:23px;width:100%;height:calc(100% - 63px);overflow:auto}
.alphabetic{
    display: inline-block;
    border: 5px solid;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    margin-top: 10px;
    float: left;
    font-size: 24px;
    text-align: center;
    position: relative;
    clear: both;
    margin-left: 10px;
}
.alphabetic:hover{
    background: #fff;
    color: #000;
    border-color: #fff;
}
.alphabetic:active{
    background: rgba(255, 255, 255, 0.5);
}

launcher icon{display:inline-block;width:78px;height:93px;padding-top:5px;float:left;text-align:center;position:relative}
launcher icon:hover{background:rgba(51, 51, 51, 0.5);box-shadow:inset 0 0 0 1px #555}
launcher icon:active{background:#222}
launcher icon img{width:48px;height:48px;filter:drop-shadow(0px 0px 2px rgba(0,0,0,0.5));}
icon span{margin-top:8px;display:block;font-size:12px;text-shadow:#000 1px 1px 2px;color:#fff}
icon>div>img{width:25px;height:25px;position:absolute}
#tab-apps1 icon{-webkit-user-drag:element}
#tab-games1 icon{-webkit-user-drag:element}

launcher.tiles{padding:50px}tile.medium{width:140px;height:140px;background:#393;margin-right:5px;display:inline-block;border-radius:10px;}

#systemoverview{width:100%;height:100%;position:fixed;background:#ffd700;z-index:9000}#systemoverview nav{border-top:1px dotted #333;border-bottom:1px dotted #333}#systemoverview>nav>div{height:140px;padding:0 10px 0 10px;border-right:1px dotted #333;display:inline-block;text-align:center}#systemoverview>nav>div:active{background:#fff}#systemoverview>nav>div:active span{color:#50b41e !important}#systemoverview>nav>div>div{margin:0 auto;float:center}#systemoverview>nav>div>span{color:#333;font-size:28px}
#power-handle{width:100%;height:30px;padding:30px 10px 0 10px;background:#333;display:inline-block;position:absolute;bottom:0}#handle-line{width:100%;height:5px;background:rgba(255,255,255,0.5)}

.scroller{height:calc(100% - 129px);top:89px}

#search {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 22px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 63px);
    z-index: 1049;
    display: none;
}

@media(max-width:2in){header{height:30px}.navlocal{top:5px;margin-left:35px;font-size:8pt}.icon{width:20px;height:20px;top:5px;left:10px}.screensicon:hover{box-shadow:none}.screensicon:active{background-size:45px;width:45px;height:45px}}

@media(max-width:5in){header{height:48px!important;position:relative!important;width:100%!important}.powerbar{height:48px}.topbar-current{width:158px;height:48px}.bar{height:40px!important}launcher{top:72px;height:calc(100% - 112px)}#alphabeticalsele{top:72px;height:calc(100% - 113px)}.navlocal{top:11px;margin-left:45px;font-size:18px}.icon{width:25px;height:25px;top:12px;left:15px}.navmenu{top:72px;width:100%;height:calc(100% - 113px);border-bottom:none}.screensicon:hover{box-shadow:none}.screensicon:active{background-size:45px;width:45px;height:45px}.dialog .dialog-close-button{height:2.5rem !important;width:2.5rem !important;min-height:1.5rem !important;font-size:2rem !important;top:1.25rem !important;right:1.25rem !important;line-height:1}.scroller{height:calc(100% - 220px);top:179px}#search{top:72px;width:100%;height:calc(100% - 113px)}.navmenu > tab > ul > a > li > div{height:50px}.navmenu > tab > ul > a > li > div > img {width:30px;height:30px}header{height:48px!important;position:relative!important;width:100%!important}.powerbar{height:48px}.topbar-current{width:158px;height:48px}launcher{top:72px;height:calc(100% - 112px)}.navlocal{top:11px;margin-left:45px;font-size:18px}.icon{width:25px;height:25px;top:12px;left:15px}.screensicon:hover{box-shadow:none}.screensicon:active{background-size:45px;width:45px;height:45px}.navmenu > tab > ul > a > li > div > img {width:30px;height:30px}.navmenu > tab > ul > a > li > div{height:50px}ul.tabs li{font-size:28px}}