body {
	font-family:Segoe UI;
	margin:0px;
	padding:0px;
}
#splashscreen {
	position:fixed;
	width:100%;
	height:100%;
	color:#FFFFFF;
	background-image:url('../splashscreen.png');
	background-position:center;
	background-color:#5133AB;
	background-repeat:no-repeat;
	animation:splash 4s;
	-ms-animation:splash 4s;
	-webkit-animation:splash 4s;
	-o-animation:splash 4s;
	opacity:0;
	z-index:-1;
}
@keyframes splash {
	from {
		z-index:2;
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	to {
		opacity:0;
		z-index:1;
		display:none;
	}
}
@-webkit-keyframes splash {
	from {
		z-index:2;
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	to {
		opacity:0;
		z-index:1;
		display:none;
	}
}
@-ms-keyframes splash {
	from {
		z-index:2;
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	to {
		opacity:0;
		z-index:1;
		display:none;
	}
}
@-o-keyframes splash {
	from {
		z-index:2;
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	to {
		opacity:0;
		z-index:1;
		display:none;
	}
}
#hoverarea {
	position:fixed;
	top:0px;
	right:0px;
	width:15px;
	height:15px;
}
#bottomhoverarea {
	position:fixed;
	bottom:0px;
	right:0px;
	width:15px;
	height:15px;
}
#starthoverarea {
	position:fixed;
	bottom:0px;
	left:0px;
	width:15px;
	height:15px;
}
#charmsbar {
	display:none;
	background-color:#111111;
	position:fixed;
	padding:5% 0;
	top:0px;
	right:0px;
	height:100%;
	width: 86px;

}
#settingscharms {
	padding : 40px;
	display:none;
	background-color:#5133AB;
	position:fixed;
	top:0px;
	right:0px;
	height:100%;
	width: 345px;
	font-size:9pt;
	color:#FFFFFF !important;
}
#settingscharms a {
	color:#FFFFFF !important;
}
#startbutton {
	display:none;
	position:fixed;
	left:0px;
	bottom:0px;
}
#iconnetwork {
	position:absolute;
	top:35px;
	left:25px;
}
#iconbattery {
	position:absolute;
	bottom:35px;
	left:32px;
}
#datetime {
	display:none;
	position:fixed;
	left:50px;
	bottom:50px;
	width:490px;
	height:139px;
	background-color: rgba(17,17,17,1);
}
#ctime {
	position:absolute;
	left:70px;
	bottom:19px;
	font-family: Segoe UI Light;
	font-size: 64pt;
	color:#FFFFFF;
}
#date {
	margin-top:20px;
	margin-right:20px;
	float:right;
	font-size:24pt;
	font-family: Segoe UI;
	color:#FFFFFF;
}
.cheading1 {
	font-family:Segoe UI Semilight;
	font-size:28px;
	margin-bottom:25px;
	display:block;
}
.cheading2 {
	font-size:11pt;
	margin-bottom:25px;
	display:block;
} 
.cheading2d {
	font-size:11pt;
	color:#A8A8A8;
	margin-bottom:25px;
	display:block;
} 
#settingscharms a {
	display:block;
	margin-bottom:25px;
}
.closecharms {
	width:32px;
	height:32px;
	float:right;
}