.tiled{background:black}
launcher.tiled icon{width:106px;height:106px;background:#da4a37;margin:10px 10px 0 0;padding:0}
launcher.tiled icon:hover{box-shadow:inset 0 0 5px 5px rgba(51, 51, 51, 0.5);}
launcher.tiled icon:active{box-shadow:inset 0 0 5px 10px rgba(51, 51, 51, 0.5)}
launcher.tiled icon:focus{box-shadow:rgb(255, 255, 255) 0px 0px 0px 5px inset;outline:none}

launcher.tiled icon img {
width: 50px;
height: 50px;
-webkit-filter: none;
}
launcher.tiled icon span{text-shadow:none}

launcher.tiled icon.imaged:hover{box-shadow:inset 0 0 5px 5px rgb(0, 0, 0)}
launcher.tiled icon.imaged:active{box-shadow:inset 0 0 5px 10px rgb(0, 0, 0)}
launcher.tiled icon.imaged span{text-shadow:#000 0 3px 2px}