* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: monospace;
  padding: 10px;
  color: #000;
}

h1 {
  font-size: 28px;
  margin: 20px auto;
}

#table {
  width: auto;
  margin: 0 auto;
  max-width: 310px;
  font-size: 12px;
}

#table .row {
  margin: 0 0 20px 0;
}

#table label {
  display: inline-block;
  width: 145px;
  text-align: right;
  padding-right: 10px;
}

#table output {
  display: inline-block;
  width: 145px;
  text-align: left;
}

#battery-container {
  width: 200px;
  height: 120px;
  margin: -32px auto 13px auto;
  display: flex;
  align-items: center;
  text-align: middle;
}

#battery {
  margin: 0 auto;
}

#battery-bar.ok {
  fill: #31C379;
}

#battery-bar.warning {
  fill: #C3A431;
}

#battery-bar.critical {
  fill: #C33131;
}